main
{
    border: solid 2px;
    width: 25%;
}
#affiche
{
    background-color: white;
    width: 97%;
    color: black;
}
input
{
    width: 22%;
}
#toucheEgal
{
    width: 47%;
}

#reset {
  width: 97%;
}
